[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appnope = "*"
backcall = "*"
beautifulsoup4 = "*"
bleach = "*"
certifi = "*"
chardet = "*"
click = "*"
cssselect = "*"
decorator = "*"
defusedxml = "*"
dj-database-url = "*"
django-common-helpers = "*"
django-cron = "*"
django-heroku = "*"
django-registration = "*"
entrypoints = "*"
future = "*"
geocoder = "*"
goose3 = "*"
gunicorn = "*"
idna = "*"
ipykernel = "*"
ipython = "*"
ipywidgets = "*"
jedi = "*"
jieba = "*"
jsonschema = "*"
jupyter = "*"
lxml = "*"
mistune = "*"
nbconvert = "*"
nbformat = "*"
nltk = "*"
notebook = "*"
pandocfilters = "*"
parso = "*"
pexpect = "*"
pickleshare = "*"
pipenv = "*"
psycopg2 = "*"
psycopg2-binary = "*"
ptyprocess = "*"
python-dateutil = "*"
pytz = "*"
pyzmq = "*"
qtconsole = "*"
ratelim = "*"
requests = "*"
singledispatch = "*"
six = "*"
terminado = "*"
testpath = "*"
tornado = "*"
traitlets = "*"
urllib3 = "*"
virtualenv = "*"
virtualenv-clone = "*"
watson-developer-cloud = "*"
wcwidth = "*"
webencodings = "*"
websocket-client = "*"
whitenoise = "*"
widgetsnbextension = "*"
# rest-framework = "*"
djangorestframework = "*"
confusable-homoglyphs = "*"
django = "*"
django-redis = "*"
ipython-genutils = "*"
jinja2 = "*"
jupyter-client = "*"
jupyter-console = "*"
jupyter-core = "*"
markupsafe = "*"
pillow = "*"
prometheus-client = "*"
prompt-toolkit = "*"
pygments = "*"
redis = "*"
send2trash = "*"
soupsieve = "*"
sqlalchemy = "*"

[requires]
python_version = "3.11"
