appnope
backcall
beautifulsoup4
bleach
certifi
chardet
Click
confusable-homoglyphs
cssselect
decorator
defusedxml
dj-database-url
Django
django-common-helpers
django-cron
django-heroku
django-redis
django-registration
djangorestframework
entrypoints
future
geocoder
goose3
gunicorn
idna
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
jieba
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
lxml
MarkupSafe
mistune
nbconvert
nbformat
nltk
notebook
pandocfilters
parso
pexpect
pickleshare
Pillow
pipenv
prometheus-client
prompt-toolkit
psycopg2
psycopg2-binary
ptyprocess
Pygments
python-dateutil
pytz
pyzmq
qtconsole
ratelim
redis
requests
Send2Trash
singledispatch
six
soupsieve
SQLAlchemy
terminado
testpath
tornado
traitlets
urllib3
virtualenv
virtualenv-clone
watson-developer-cloud
wcwidth
webencodings
websocket-client
whitenoise
widgetsnbextension
