{% extends 'generic/base.html' %}

{% block content %}
<h2>News Feed </h2>

{% for article in articles %}
  {% for indiv in article %}
  <p>{{ indiv.title }}<p>
  <p>{{ indiv.description }}</p>
  <h4>{{ indiv.source }}</h4>
  <h4>{{ indiv.date_published }}</h4>
  <h4>{{ indiv.url }}</h4>
  <h4>{{ indiv.dom_tone }}</h4>
  {% endfor %}
{% endfor %}


<div id="pics">
<img src="/static/assets/me.jpg" alt="me">
<img src="/static/assets/rock.jpg" alt="Garnet Gneiss in thin section">
</div id="pics">
{% endblock %}
