{% extends 'generic/base.html' %}

{% block content %}
<h2>News Feed: </h2>

{% for article in articles %}
<div id="articles">

  {% for indiv in article %}
      {% if indiv.title is not none %}
        <h4>{{ indiv.title }}</h4>
      {% endif %}

      {% if indiv.url is not none %}
        <h4><a href= " {{ indiv.url }} ">{{ indiv.url }}</a></h4>
      {% endif %}

      {% if indiv.description is not none %}
        <p>{{ indiv.description }}</p>
      {% endif %}

      {% if indiv.date_published is not none %}
      <h4>{{ indiv.date_published }}</h4>
      {% endif %}


      {% if indiv.dom_tone is not none %}
      <h4>{{ indiv.dom_tone }}</h4>
      {% endif %}

  {% endfor %}

</div>
{% endfor %}

{% endblock %}
