{% extends 'generic/base.html' %}

{% block content %}
<h2>Data Visualizations </h2>
<p>This view is currently under construction.<p>

{% for article in articles %}
  <h3>{{ article.title }}</h3>
  <p>{{ article.description }}</p>
  <h4>{{ article.source }}</h4>
  <h4>{{ article.date_published }}</h4>
  <h4>{{ article.url }}</h4>
  <h4>{{ article.dom_tone }}</h4>
  <h4>{{ article.image }}</h4>
{% endfor %}


<div id="pics">
<img src="/static/assets/me.jpg" alt="me">
<img src="/static/assets/rock.jpg" alt="Garnet Gneiss in thin section">
</div id="pics">
{% endblock %}
