{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/png" href="{% static "assets/../../static/assets/frogicorn.png" %}">
  <link rel="stylesheet" href="{% static "css/../../static/css/normalize.css" %}">
  <link rel="stylesheet" href="{% static "css/../../static/css/skeleton.css" %}">
  <link rel="stylesheet" href=""css/../../static/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="{% static "js/app.js" %}"></script>
  <title>Madeline's Portfolio</title>
</head>
<body>
  <header>
    <nav class="main_nav">
      <ul>
        <li><a href="{% url "home" %}">Home</a></li>
        <li><a href="{% url "projects" %}">Projects</a></li>
        <li><a href="{% url "maps" %}"> Maps </a></li>
        <li><a href="{% url "game" %}"> Frogs Game! </a></li>
        <li><a href="https://docs.google.com/document/d/1hdbEIQa7eU_dYa9w0Zw8rQn2B663x1KQNAALMPlDqYs/edit?usp=sharing/">Printable Resume</a></li>
        <li><a href="mailto:madelinepet@hotmail.com"> Email Me</a></li>
        <li><nav id="social_media">
          <a href="https://www.linkedin.com/in/madeline-peters/"><img src="/static/assets/linkedin.svg" alt="linkedin icon"></a>
          <a href="https://www.github.com/madelinepet/"><img src="/static/assets/github.png"></a>
        </nav></li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    <h3>No Content</h3>
    {% endblock content%}
  </main>
  <footer>
  </footer>
</body>
</html>
