{% extends 'generic/base.html' %}

{% block content %}
<h2>About Me</h2>
<p>Welcome to my portfolio! As a Data Ops engineer specializing in Python, I design and maintain scalable ETL infrastructure with expertise in tools such as Snowflake, Docker, Terraform, and AWS. In my recent roles, some of my favorite projects have focused on infrastructure as code, realtime and batch data pipelines, and data quality. My geology degree led me to Python and one of my favorite personal projects involved sentiment analysis using NLP and Django. With a consulting background, I excel at communicating complex technical concepts, ensuring effective collaboration and solution delivery for both technical and non-technical stakeholders.
</p>
<div id="pics">
<img src="/static/assets/me.jpg" alt="me">
<img src="/static/assets/rock.jpg" alt="Garnet Gneiss in thin section">
</div id="pics">
{% endblock %}