{% extends 'generic/base.html' %}

{% block content %}
<h2>Projects</h2>
<div id="projects">
    <h4> News_API| SEPT 2018 |<a href="http://ec2-18-223-109-140.us-east-2.compute.amazonaws.com/"> EC2 </a></h4>   
    <h5> Pyramid RESTful API with exposed endpoints to organize a user’s news feed for current news articles based on user preferences for predominant tone </h5>
    <ul class="descr">
        <li>Python3, Pyramid, AWS, Bokeh, news_api, Goose, IBM Watson Tone Analyzer</li>
        <li>Wrote Archives model and Visuals View, wrote README.md</li>
        <li><a href="https://github.com/PythonMidterm/news_api">GitHub</a> </li>
    </ul>

    <h4>Fozzie Web-Builder | APRIL 2018 | <a href="http://fozzie-web-builder.herokuapp.com/"> Heroku </a></h4>    <h5>Application that dynamically renders HTML file for user based on specifications</h5>
    <ul class="descr">
        <li>JavaScript, HTML5, CSS3, Heroku</li>
        <li><a href="https://github.com/Team-Fozzie/Fozzie-s-Website-Builder-Server">GitHub</a></li>
    </ul>

    <h4>CLI Restaurant | AUG 2018  | <a href="https://github.com/madelinepet/snakes-cafe"> GitHub </a></h4> 
    <h5>A mock POS system that reads from a CSV with a menu, order total, and receipt </h5>
    <ul class="descr">
        <li>Python3</li>
    </ul>
</div>
{% endblock %}