            {% extends 'generic/base.html' %}
            {% block content %}
            <div id="game" class="hidden">
                <h2 id="click"> Click the cats to make them disappear! </h2>
                <img src="../static/assets/cat.png" class="cat">
                <img src="../static/assets/cat.png" class="cat">
                <img src="../static/assets/cat.png" class="cat">
                <img src="../static/assets/cat.png" class="cat">
                <img src="../static/assets/cat.png" class="cat">
                
                <img src="../static/assets/cat.png" class="cat">
                <img src="../static/assets/cat.png" class="cat">
                <img src="../static/assets/cat.png" class="cat">
                <img src="../static/assets/cat.png" class="cat">
                <img src="../static/assets/cat.png" class="cat">

            </div>
            {% endblock %}