            {% extends 'generic/base.html' %}
            {% block content %}
            <div id="game" class="hidden">
                <h2 id="click"> Click the frogs to make them disappear! </h2>
                <img src="../static/assets/frogicorn.png" class="frogicorn">
                <img src="../static/assets/frogicorn.png" class="frogicorn">
                <img src="../static/assets/frogicorn.png" class="frogicorn">
                <img src="../static/assets/frogicorn.png" class="frogicorn">
                <img src="../static/assets/frogicorn.png" class="frogicorn">
                
                <img src="../static/assets/frogicorn.png" class="frogicorn">
                <img src="../static/assets/frogicorn.png" class="frogicorn">
                <img src="../static/assets/frogicorn.png" class="frogicorn">
                <img src="../static/assets/frogicorn.png" class="frogicorn">
                <img src="../static/assets/frogicorn.png" class="frogicorn">

            </div>
            {% endblock %}