.main_nav a {
    text-decoration: none;
}

.main_nav li {
    display: inline-block;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 1px #888888;
    margin: 20px;
    margin-left: 40px;
}

img {
    padding: 30px;
    margin-left: 50px;
    height: 300px;
}


h2 {
    margin-left: 50px;
    text-shadow: 2px 2px 5px grey;
    font-family: 'Slabo 27px', serif;
}

#resume {
    margin: 100px;
    margin-top: 50px;
    width: 100%;
}


.main_nav li:hover {
    box-shadow: 3px 2px #3925ec;
}

a {
    padding: 5px;
}

a:hover {
    cursor: pointer;
}

#projects {
    margin-left: 70px;
    margin-bottom: 40px;
    border: 1px dotted grey;
    padding: 10px;
    width: 65%;
}

h5 {
    margin-left: 70px;
}

.descr {
    margin-left: 100px;
}

p {
    margin-left: 70px;
    width: 65%;
}
